# Activation du module de réécriture d'URL :
RewriteEngine on

#--------------------------------------------------
# ROUTES
#--------------------------------------------------

# ROUTE DU DETAIL D'UN POST
# PATTERN: /posts/id/slug-du-post.html
RewriteRule ^posts/([1-9][0-9]*)/([a-z\-]+)\.html$ index.php?posts=show&id=$1 [L]

# ROUTE D'AJOUT D'UN POST: affichage du formulaire
#PATTERN: /posts/add/form.html
RewriteRule ^posts/add/form.html$ index.php?posts=form [L]

# ROUTE D'AJOUT D'UN POST: INSERT
# PATTERN: /posts/add/insert.html
RewriteRule ^posts/add/insert.html$ index.php?posts=add [L]

# ROUTE DE SUPPRESSION D'UN POST:
# PATTERN: /posts/id/slug-du-post/delete.html
RewriteRule ^posts/([1-9][0-9]*)/([a-z\-]+)/delete.html$ index.php?posts=delete&id=$1 [L]

# ROUTE DE MODIFICATION D'UN POST: Affichage du formulaire
# PATTERN: /posts/id/slug-du-post/edit/form.html
RewriteRule ^posts/([1-9][0-9]*)/([a-z\-]+)/edit/form.html$ index.php?posts=editForm&id=$1 [L]

# ROUTE DE MODIFICATION D'UN POST: UPDATE
# PATTERN: /posts/id/slug-du-post/edit/update.html
RewriteRule ^posts/([1-9][0-9]*)/([a-z\-]+)/edit/update.html$ index.php?posts=editUpdate&id=$1 [L]

# -----------------------------------------------------------------------
RewriteCond %{REQUEST_URI} !\.(js|css|jpg|gif|zip|png|pdf|woff|woff2|ttf|svg)$ [NC]
RewriteRule ^(.*)$ index.php [L]
